.card {
  @apply relative bg-creme shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] *:relative *:z-1;
  @apply after:absolute after:inset-0 after:bg-[url(../img/texture-papier.jpg)] after:bg-top after:bg-repeat-y after:bg-[length:100%_auto] after:bg-blend-multiply after:opacity-30;
}

.background {
  @apply absolute inset-0 -z-10;
}

.background.image {
  @apply bg-[url(../img/checkered-background-mobile.jpg)] md:bg-[url(../img/checkered-background.jpg)] bg-top bg-[length:100%_auto] bg-repeat-y;
}

.background.image.edelweiss {
  @apply bg-[url(../img/edelweiss-background-mobile.jpg)] md:bg-[url(../img/edelweiss-background.jpg)];
}

.basic-page {
  @apply pt-30 md:pt-50;
}

.spiked {
  clip-path: polygon(
    0% 0%,
    5% calc(0% + 50px),
    10% 0%,
    15% calc(0% + 50px),
    20% 0%,
    25% calc(0% + 50px),
    30% 0%,
    35% calc(0% + 50px),
    40% 0%,
    45% calc(0% + 50px),
    50% 0%,
    55% calc(0% + 50px),
    60% 0%,
    65% calc(0% + 50px),
    70% 0%,
    75% calc(0% + 50px),
    80% 0%,
    85% calc(0% + 50px),
    90% 0%,
    95% calc(0% + 50px),
    100% 0%,
    100% 100%,
    0% 100%
  );
  @apply -mt-[50px];
}

@media (max-width: 768px) {
  .spiked {
    clip-path: polygon(
      0% 0%,
      10% calc(0% + 30px),
      20% 0%,
      30% calc(0% + 30px),
      40% 0%,
      50% calc(0% + 30px),
      60% 0%,
      70% calc(0% + 30px),
      80% 0%,
      90% calc(0% + 30px),
      100% 0%,
      100% 100%,
      0% 100%
    );
    @apply -mt-[30px];
  }
}

.shadow-bottom {
  -webkit-filter: drop-shadow(0 2px 4px #0000003d);
  filter: drop-shadow(0 2px 4px #0000003d);
}

.shadow-top {
  -webkit-filter: drop-shadow(-2px -1px 4px #0000003d);
  filter: drop-shadow(-2px -1px 4px #0000003d);
}

.interactive {
  -webkit-filter: drop-shadow(0 0 0 #ffffff);
  filter: drop-shadow(0 0 0 #ffffff);
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: drop-shadow(0 0 15px #ffffff);
    -webkit-filter: drop-shadow(0 0 15px #ffffff);
  }
}

.hover-btn {
  @apply bg-black px-4 py-3 text-creme text-l absolute -translate-y-1/1 whitespace-nowrap;
}

.idle {
  animation: Idling 3s infinite step-end;
}

@keyframes Idling {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
  }
}

.grue-1,
.grue-2 {
  animation: Fly 1s infinite step-end;
}

.grue-2 {
  animation-delay: 0.5s;
}

@keyframes Fly {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
